
@{
    ViewBag.Title = "SlaytEkle";
    Layout = "~/Views/Shared/_ZalaAdmin.cshtml";
}

@section Baslik{ SLAYT AYARLARI }
@section sitemap{SLAYT AYARLARI }
@section title{SLAYT AYARLARI }
@model ZalaBahceV1.Models.Slider


<div class="row">
    <div class="col-md-12">
        <div class="card card-warning card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    SLAYT EKLE
                </h3>
                <!-- tools box -->
                <div class="card-tools">
                    <button type="button" class="btn btn-tool btn-sm"
                            data-widget="collapse"
                            data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-tool btn-sm"
                                data-widget="remove"
                                data-toggle="tooltip"
                                title="Remove">
                            <i class="fa fa-times"></i>
                        </button>*@
                </div>
                <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @*<div class="mb-3">*@

                @*------------content start------------*@



                @using (Html.BeginForm("SlaytEkle", "Slayt", FormMethod.Post, new { @class = "form-horizontal", @id = "form_sample_1", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()


                    <div class="row">
                        <div class="col-md-2"><dt>Slayt Baslik: </dt></div>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.baslik, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-2"><dt>Slayt Aciklama: </dt></div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.slogan, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-2"><dt>Slayt Link: </dt></div>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.link, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-2"><dt>Slayt Resim: </dt></div>
                            <div class="col-md-10">
                                <input type="file" name="resim" id="resim" class="form-control" />
                            </div>
                        </div>
                        <hr />

                        <hr />
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-2">
                                <input type="submit" value="Ekle" class="btn btn-primary btn-lg col-md-12" />
                            </div>
                        </div>




                        @*--------------content end--------------*@
                        @*</div>*@


                }
            </div>
        </div>
    </div>

    @*------------card end----------------*@
