
@{
    ViewBag.Title = "Urun";
    Layout = "~/Views/Shared/_ZalaAdmin.cshtml";
}
@model IEnumerable<ZalaBahceV1.Models.Urun>

@section Baslik{ URUN AYARLARI }
@section sitemap{URUN AYARLARI }
@section title{URUN AYARLARI }



<div class="row">
    <div class="col-md-12">
        <div class="card card-success card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    URUN LİSTESİ
                </h3>
                <!-- tools box -->
                <div class="card-tools">
                    <button type="button" class="btn btn-tool btn-sm"
                            data-widget="collapse"
                            data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-tool btn-sm"
                                data-widget="remove"
                                data-toggle="tooltip"
                                title="Remove">
                            <i class="fa fa-times"></i>
                        </button>*@
                </div>
                <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @*<div class="mb-3">*@

                @*------------content start------------*@

                <table id="urunkatliste" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="5%">Kategori</th>
                            <th width="5%">Adı</th>
                           
                            <th width="5%">Kapak Resim</th>
                            <th width="5%">Durum</th>
                            <th width="50%">İşlemler</th>

                        </tr>
                    </thead>
                   @foreach (var i in Model)
                   {
                    <tr>

                    <td>@Html.DisplayFor(modelItem => i.UrunKategori.baslik)</td>
                    <td>@i.urunAd</td>
                   
                    <td><img src="@i.kapakResim" width="45" height="45" /></td>
                        <td>
                            @if (i.aktif == "aktif")
                            {
                                <span class="badge bg-success ">Aktif</span>
                            }
                            else
                            {
                                <span class="badge bg-danger">Pasif</span>

                            }
                        </td>
                        <td align="center">
                            <div class="btn-group">
                                <a href="/Admin/UrunDetay?urunID=@i.urunID" class="btn btn-info"><i class="fa fa-info-circle"></i></a>
                                <a href="/Admin/urunDuzenle?urunID=@i.urunID" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i>Düzenle</a>
                                <a href="/Admin/UrunResimEkle?urunID=@i.urunID&liste=1&urunAd=@i.urunAd" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i>Resim Düzenle</a>
                                @if (i.aktif == "aktif")
                                {
                                    <a href="/Admin/durum?urunID=@i.urunID" class="btn btn-danger"><i class="fa fa-minus-square"></i>Pasif Yap</a>
                                }
                                else
                                {
                                    <a href="/Admin/durum?urunID=@i.urunID" class="btn btn-success"><i class="fa fa-plus"></i>Aktif Yap</a>

                                }
                                <a id="btnAlert" href="/Admin/UrunSil?urunID=@i.urunID" class="btn btn-danger"><i class="fa fa-trash"></i>Sil</a>
                            </div>
                        </td>





                    </tr> }
<tfoot>
                        <tr>
                            <th >Kategori</th>
                            <th >Adı</th>
                            
                            <th >Kapak Resim</th>
                            <th >Durum</th>
                            <th >İşlemler</th>

                        </tr>
                    </tfoot>
                </table>

                @*--------------content end--------------*@
                @*</div>*@

            </div>
        </div>
    </div>
</div>

@*------------card end----------------*@









