

<div class="g-position--relative g-bg-color--primary">
    <div class="g-container--md g-padding-y-125--xs">
        <div class="g-text-center--xs g-margin-t-50--xs g-margin-b-80--xs">
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">İletişim</p>
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-color--white">Bizimle İletişime Geçin</h2>
        </div>
        <div class="row g-row-col--5 g-margin-b-80--xs">
            <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-email"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Email</h4>
                    <p class="g-color--white-opacity">
                        info@zalabahce.com

                    </p>
                </div>
            </div>
            <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-map-alt"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Adres</h4>
                    <p class="g-color--white-opacity">
                        Tarabya Mah, Atadan Sk. No:12,
                        34000 Sarıyer/İstanbul
                    </p>
                </div>
            </div>
            <div class="col-xs-4 g-full-width--xs">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-headphone-alt"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Telefon</h4>
                    <p class="g-color--white-opacity">
                        (0212) 262 61 44

                    </p>
                </div>
            </div>
        </div>

    </div>
    <img class="s-mockup-v2" src="/img/mockups/pencil-01.png" alt="Mockup Image">
</div>

<section class="s-google-map">
    <div id="js__google-container" class="s-google-container g-height-400--xs">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12020.77357052355!2d29.056453!3d41.130304!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x86b10b8ae827039a!2sZALA+BAH%C3%87E!5e0!3m2!1str!2str!4v1550592406939" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>
