@model IEnumerable<ZalaBahceV1.Models.Slider>
<!--========== SWIPER SLIDER ==========-->
<div class="s-swiper js__swiper-slider">
    <!-- Swiper Wrapper -->
    <div class="swiper-wrapper">


        @foreach (var i in Model)
        {
            <div class="s-promo-block-v4 g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('@i.resim');">
                <div class="container g-ver-center--xs">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="g-margin-b-50--xs">
                                <h1 class="g-font-size-32--xs g-font-size-45--sm g-font-size-60--md g-color--white">@i.baslik</h1>
                                <p class="g-font-size-18--xs g-font-size-22--sm g-color--white-opacity">@i.slogan</p>
                            </div>
                          
                              
                                    <a href="@i.link" class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-50--xs">Daha Fazlası İçin Tıklayın</a>




                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
    <!-- End Swiper Wrapper -->
    <!-- Pagination -->
    <div class="s-swiper__pagination-v1 s-swiper__pagination-v1--bc s-swiper__pagination-v1--white js__swiper-pagination"></div>
</div>
<!--========== END SWIPER SLIDER ==========-->