
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- Begin Head -->
<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Zala Bahçe | Size Geri Dönüş Sağlayacağız</title>

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
    <!-- Vendor Styles -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/themify/themify.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme Styles -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/global/global.css" rel="stylesheet" type="text/css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
</head>
<!-- End Head -->
<!-- Body -->
<body>
   
    <!--========== PAGE CONTENT ==========-->
    <div class="g-bg-position--center g-fullheight--xs" style="background: url('/Resim/Genel/08.jpg');">
        <div class="container js__ver-center-aligned">
            <div class="g-text-center--xs">
                <div class="g-margin-t-40--xs g-margin-b-60--xs g-margin-b-80--sm">
                    <h1 class="g-font-size-32--xs g-font-size-50--sm g-font-size-60--md g-margin-b-30--xs">Sayın @ViewBag.ad </h1>
                    <p class="text-uppercase g-font-size-20--md g-font-weight--300">@ViewBag.bilgi</p>
                </div>
            
                <a href="/ZalaBahce/Hosgeldiniz/" class="text-uppercase s-btn s-btn--md s-btn--dark-brd g-radius--50 g-padding-x-50--xs g-margin-b-20--xs">Geri Dön</a>
            </div>
        </div>
    </div>
    <!--========== END PAGE CONTENT ==========-->
    <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
    <!-- Vendor -->
    <script type="text/javascript" src="/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.migrate.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="/vendor/scrollbar/jquery.scrollbar.min.js"></script>
    <!-- General Components and Settings -->
    <script type="text/javascript" src="/js/global.min.js"></script>
    <script type="text/javascript" src="/js/components/scrollbar.min.js"></script>
    <!--========== END JAVASCRIPTS ==========-->
</body>
<!-- End Body -->
</html>
