
@{
    ViewBag.Title = "Menudeneme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="s-video-v2__bg" data-vidbg-bg="mp4: /Resim/Genel/menu.mp4, webm: /Resim/Genel/menu.mweb, poster: /Resim/Genel/menu.jpg" data-vidbg-options="loop: true, muted: true, overlay: false">
    <div class="container g-position--overlay g-text-center--xs">
        <div class="g-padding-y-50--xs g-margin-t-100--xs g-margin-b-100--xs g-margin-b-250--md">
            <h1 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">Menü</h1>
            <br /><br />





            <div class="container g-bg-color--white g-box-shadow__dark-lightest-v3 g-padding-x-40--xs g-padding-y-30--xs">
                <div class="row">
                    
                    <div class="col-12">

                        <div class="s-swiper js__swiper-slider" style="height:600px">
                            <!-- Swiper Wrapper -->
                            <div class="swiper-wrapper">
                                <div class="s-promo-block-v4 g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('/Resim/Urun/05be6172-49fd-4d18-bfb4-87093efdaa6e.jpg');">
                                </div>
                            
                                    <div class="s-promo-block-v4 g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('/Resim/Urun/27d76bef-df5d-4cdd-b3fe-a4de1ce6b641.jpg');">

                                    </div>
                                <div class="s-promo-block-v4 g-fullheight--xs g-bg-position--center swiper-slide" style="background: url('/Resim/Kategori/5112642d-5b6e-48ac-abaf-12e8b3678a59.jpg');">

                                </div>

                            </div>
                            <!-- End Swiper Wrapper -->
                            <!-- Pagination -->
                            <div class="s-swiper__pagination-v1 s-swiper__pagination-v1--bc s-swiper__pagination-v1--white js__swiper-pagination"></div>
                        </div>

                    </div>
                    <div class="col-12">
                        <br />
                        <div class="g-text-center--xs g-margin-b-80--xs">
                            <h1 class="g-font-size-32--xs g-color--primary g-margin-b-20--xs">Kategoriler</h1>
                            <p class="g-font-size-18--md">Whether through commerce or just an experience to tell your brand's story, the time has come to start using development languages that fit your projects needs.</p>
                        </div>

                    </div>

                </div>
            </div>



        </div>
    </div>
</section>